body {
	background-image: url(img/page_shadow.png);
	background-position: center;
	background-repeat: repeat-y;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	width: 970px;
	margin: 0 auto;
}
.main {
	width: 970px;
	height: 200px;
	/*margin: 0 auto;*/
	background-image: url(img/head-background.gif);
}
.main .headconteiner {
	background-repeat: no-repeat;
	background-position: left center;
}
.main .headconteiner .title {
	float: left;
	width: 670px;
	background-image: url(img/titulo.gif);
	background-position: right bottom;
	height: 138px;
	background-repeat: no-repeat;
}
.main .headconteiner .logo {
	width: 250px;
	float: right;
	background-image: url(img/medicina2.gif);
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;	
}
.main .headconteiner .menu-head {
}
.block {
	width: 970px;
	padding-bottom: 20px;
}
.footer{
	width: 940px;
	/*margin: 0 auto;*/
	border-top-style: solid;
	border-top-color: #000099;
	border-top-width: 1px;
	clear: both;
	margin: 0 auto;
}
.footer .footer-text {
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	width: 940px;
}
.footer .footer-text .important {
	font-weight: bold;
}
.breadcrum {
	font-weight: bold;
	color: #000000;
	padding-left: 5px;
}
.block .loginface {
	vertical-align: middle;
	width: 400px;
	height: 250px;
	margin: 0 auto;
	padding-top: 35px;
	background-image: url(img/loginbox.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.block .loginface .error-msg {
	font-weight: bold;
	color: #CC0000;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}
.block .loginface .loginbox {
	padding-top: 25px;
	padding-bottom: 40px;
	margin: 0 auto;
}
.input-cont {
	width: 200px;
	height: 30px;
	vertical-align: middle;
}
.submit-cont {
	width: 300px;
	text-align: right;
	height: 30px;
}
.label {
	font-weight: bold;
	color: #666666;
	text-align: right;
	padding-right: 30px;
	width: 150px;
	height: 30px;
}
.block .loginface .loginbox .logintable {
	width: 300px;
}
.block .menu-lateral {
	width: 200px;
	/*border: 1px dotted #FF00FF;*/
	float: left;
}
.white-space {
	height: 20px;
	clear: both;
}
.block .menu-lateral .menu-box-top {
	/*border: 1px outset #0066FF;*/
	background-image: url(img/menu-box-top.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 11px;
	font-size: 11px;
}
.block .menu-lateral .menu-box-body {
	background-image: url(img/menu-box-body.gif);
	background-repeat: repeat-y;
	background-position: center center;
	padding-left: 20px;
	padding-top: 10px;
}
.block .menu-lateral .menu-box-bottom {
	background-image: url(img/menu-box-bottom.gif);
	background-position: center top;
	height: 12px;
	background-repeat: no-repeat;
}
.block .menu-lateral .menu-box-body .menu-item {
	font-weight: bold;
	height: 25px;
	font-size: 13px;
	vertical-align: middle;
}
.block .menu-lateral .menu-box-body .menu-item span{
	color: #000077;
	text-decoration: none;
	padding-left: 25px;
	cursor: pointer;
}
.block .menu-lateral .menu-box-body .menu-item .sm{
	color: #000077;
	text-decoration: none;
	padding-left: 25px;
	cursor: pointer;
}
.block .menu-lateral .menu-box-body .menu-item a{
	color: #000077;
	text-decoration: none;
	padding-left: 25px;
}
.block .menu-lateral .menu-box-body .menu-item a:hover{
	color: #3333CC;
	text-decoration: none;
	padding-left: 25px;
	background-image: url(img/row-bull.gif);
	background-position: left center;
	background-repeat: no-repeat;
}
/*submenus*/
.block .menu-lateral .menu-box-body .submenu-item{
	font-weight: bold;
	height: 25px;
	font-size: 13px;
	vertical-align: middle;
}
.block .menu-lateral .menu-box-body .submenu-item a{
	color: #000077;
	text-decoration: none;
	padding-left: 35px;
}
.block .menu-lateral .menu-box-body .submenu-item a:hover{
	color: #3333CC;
	text-decoration: none;
	padding-left: 35px;
	background-image: url(img/row-bull.gif);
	background-position: left center;
	background-repeat: no-repeat;
}
/**/
